@import "./windows.css";
@import "./icons.css";

* {
	box-sizing: border-box;
}
p {
	margin: 0;
}

/* Markdown styles */
a {
	color: white;
}
a:focus-visible {
  outline: solid white 0.15em;
}
ul {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding-left: 1.2em;
}
li {
	margin: 0;
}
li::marker {
	content: "- ";
}
hr {
	color: white;
	margin: 0;

	border: 0.15em solid white;
	border-top: none; /* Thinner */
}
pre {
	margin: 0;
}

/* Root */
html {
	font-family: monospace;
	font-size: 1.5em;

	color: white;
	background: black;

	overflow: hidden;
	text-shadow: 0 0 0.5em #ffffff;
	filter: blur(0.02em);
	user-select: none;

	scrollbar-color: white transparent;

	/* For the body close button easter egg */
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}

body {
	inset: 6% !important;
}
