.window {
	/* Fix the popover fucking with my styles */
	height: unset;
	width: unset;
	overflow: visible;
	color: white;

	position: absolute;
	inset: 10%;

	border: 0.15em solid white;
	outline: 0.8em solid black;
	background: black;
}

.window[active="true"] {
	z-index: 9999;
}

.window .content {
	max-height: 100%;

	overflow-y: scroll;
	padding: 1em;
}

.window .title {
	position: absolute;
	display: flex;
	align-items: center;

	height: 0.15em;
	top: -0.15em;
	left: 0.5em;

	background: black;
	padding: 0 0.2em 0 0.2em;
	margin: 0;
}

.window .controls {
	position: absolute;
	display: flex;
	flex-direction: row;

	top: -0.15em;
	right: 0.5em;

	margin: 0;
	gap: 0.8em;
}

.window .controls .button {
	all: unset;

	display: flex;
	align-items: center;

	height: 0.15em;

	background: black;
	padding: 0 0.2em 0 0.2em;
	cursor: pointer;
	margin: 0;
}

.window .controls .button:is(:hover, :focus-visible) {
	scale: 1.1;
}
