#window_container {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;

    --window_background: #1f1f1f;
    --window_border: #3f3f3f;
}

/* Windows */
.window {
    position: absolute;
    overflow: hidden;

    height: 20rem;
    width: 30rem;
    min-height: max-content;
    min-width: max-content;

    background: var(--window_background);
    border: 0.1rem solid var(--window_border);
    border-radius: 1rem;
}

.topbar {
    display: flex;
    padding: 0.5rem;

    user-select: none;
    background: var(--window_border);
}
