#window_container {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

/* Windows */
.window {
    display: flex;
    flex-direction: column;

    position: absolute;
    overflow: hidden;

    height: 20rem;
    width: 30rem;
    min-height: max-content;
    min-width: max-content;

    background: var(--window_background);
    border: 0.1rem solid var(--window_border);
    border-radius: 1rem;
}

/* Topbar */
.topbar {
    display: flex;
    flex-shrink: 0;

    padding: var(--topbar-padding);
    user-select: none;
    background: var(--window_border);
}

.topbar #close_button {
    position: absolute;
    right: 0.5rem;

    margin: 0;
}
