<!doctype html>

<html style="background: black">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>StellarSt0rm</title>
		<meta name="description" content="Made by StellarStorm, duh." />

		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body class="window">
		<div class="title">stellarst0rm.github.io</div>
		<div class="controls">
			<div class="close_button button" onclick="document.body.remove()">
				x
			</div>
		</div>

		<div id="desktop" class="content">
			<div id="icon_container">{{ icons |safe }}</div>
			<div id="window_container">{{ windows |safe }}</div>
		</div>
	</body>
</html>
