<!doctype html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>StellarSt0rm</title>
		<meta name="description" content="Made by StellarStorm, duh." />

		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body class="window">
		<script> let FF_FOUC_FIX; </script>

		<div class="title">stellarst0rm.github.io</div>
		<div class="controls">
			<!-- Easter egg for when the user clicks the close button on the body -->
			<div
				class="close_button button"
				onclick="document.body.replaceWith('You broke my website, meanie!') "
			>
				x
			</div>
		</div>

		<div id="desktop" class="content">
			<div id="icon_container">{{ icons |safe }}</div>
			<div id="window_container">{{ windows |safe }}</div>
		</div>
	</body>
</html>
