.loader {
    filter: drop-shadow(2px 2px 3px black);
}

/* https://css-loaders.com/dots #49 */
.loader {
    height: 15px;
    aspect-ratio: 4;
    --loader_dot: no-repeat radial-gradient(farthest-side, #fff 90%, #fff0);
    background:
        var(--loader_dot) left,
        var(--loader_dot) right;
    background-size: 25% 100%;
    display: grid;
}
.loader:before,
.loader:after {
    content: "";
    height: inherit;
    aspect-ratio: 1;
    grid-area: 1/1;
    margin: auto;
    border-radius: 50%;
    transform-origin: -100% 50%;
    background: #fff;
    animation: loader_animation 1s infinite linear;
}
.loader:after {
    transform-origin: 200% 50%;
    --loader-direction: -1;
    animation-delay: -0.5s;
}

@keyframes loader_animation {
    58%,
    100% {
        transform: rotate(calc(var(--loader-direction, 1) * 1turn));
    }
}
