@import "./loader.css";
@import "./window_container.css";
@import "./bottom.css";

/* Colors */
:root {
    /* Windows */
    --window_background: #1f1f1f;
    --window_border: #3f3f3f;

    --topbar-padding: 0.5rem;

    /* Bottom bar */
    --bottom_bar_color: #2f2f2f;
}

/* Main */
body {
    display: flex;

    height: 100vh;
    width: 100vw;

    overflow: hidden;
    margin: 0;

    color: white;
    background: conic-gradient(
        from 230.29deg at 51.63% 52.16%,
        rgb(0, 0, 5) 0deg,
        rgb(40, 9, 52) 67.5deg,
        rgb(10, 14, 31) 198.75deg,
        rgb(255, 78, 51) 251.25deg,
        rgb(207, 122, 250) 301.88deg,
        rgb(46, 0, 46) 360deg
    );
    backdrop-filter: blur(30px);
}

a {
    color: white;
}

/* General */
#status,
#content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    transition: 0.5s opacity;
}

#status {
    position: absolute;
    gap: 0;

    width: calc(100% - 8vw * 2);
    padding: 0 8vw;

    text-align: center;
    text-shadow: 2px 2px 4px black;
}

#status > * {
    margin: 0;
}

#status > h1 {
    margin-bottom: 2rem;
}

/* Animations */
#status[hidden="true"],
#content[hidden="true"] {
    opacity: 0;
}

#content[hidden="true"] {
    pointer-events: none;
}
